*{
    margin: 0;
    padding: 0;
}
body{
  background-color: #EEF9BF;
}

.title{
  text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

main{
    background-color: #EEF9BF;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    color: #75B79E;
}
main h1 {
    margin-top: 10%;
}
.cardspace{
  display: flex;
  flex-wrap: wrap;
}

.driven-card {
  display: flex;
  margin: 34px;
  width: 117px;
  height: 146px;
  border-radius: 5px;
}

.flipper{
  position: relative;
  transition: transform 1000ms;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform-style: preserve-3d;
}
.driven-card:hover .flipper{
  transform: rotateY(180deg);
}
.front-face, .back-face{
  
  background-color: #A7E9AF;
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-face{
  transform: rotateY(180deg);
}